[submodule "astropy_helpers"]
	path = astropy_helpers
	url = https://github.com/astropy/astropy-helpers.git
[submodule "Obvious-CI"]
	path = Obvious-CI
	url = https://github.com/pelson/Obvious-CI.git
